{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles/contact_responsive.css' %}">
{% endblock %}

{% block home %}
    <!-- Home -->

	<div class="home">
		<div class="home_background"></div>
		<div class="background_image background_city" style="background-image:url({% static 'images/city_5.png' %})"></div>
		<div class="cloud cloud_1"><img src="{% static 'images/cloud.png' %}" alt=""></div>
        <div class="cloud cloud_2"><img src="{% static 'images/cloud.png' %}" alt=""></div>
        <div class="cloud cloud_3"><img src="{% static 'images/cloud_full.png' %}" alt=""></div>
        <div class="cloud cloud_4"><img src="{% static 'images/cloud.png' %}" alt=""></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Contact</div>
							<div class="breadcrumbs">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="{% url 'home' %}">Home</a></li>
									<li>Contact</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block page-content %}

    <!-- Contact -->

    <div class="contact">
        <div class="container">
            <div class="row">

                <!-- Contact Content -->
                <div class="col-lg-6 contact_col">
                    <div class="contact_content">
                        <div class="contact_title magic_fade_in">Contact Info</div>
                        <div class="contact_text magic_fade_in">
                            <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam
                                pretium turpis ege. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                congue tellus vitae mauris dignissim, id porta purus varius. Suspendisse pharetra
                                tincidunt enim.</p>
                        </div>
                        <div class="contact_logo magic_fade_in"><a href="{% url 'home' %}">Net<span>aun</span></a></div>
                        <div class="contact_list magic_fade_in">
                            <ul>
                                <li>1481 Creekside Lane Avila Beach, CA 931</li>
                                <li>+53 345 7953 32453</li>
                                <li>yourmail@gmail.com</li>
                            </ul>
                        </div>
                        <div class="contact_social magic_fade_in">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="#"><i class="fa fa-pinterest trans_200" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook trans_200" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter trans_200" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble trans_200" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance trans_200" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin trans_200" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Message Form -->
                <div class="col-lg-6 contact_col magic_fade_in">
                    <div class="message_form_container">
                        <div class="contact_title">Get in Touch</div>
                        <form action="#" id="message_form" class="message_form">
                            <input type="text" class="message_input" placeholder="Name" required="required">
                            <input type="email" class="message_input" placeholder="E-mail" required="required">
                            <textarea class="message_input message_textarea" placeholder="Message"
                                      required="required"></textarea>
                            <button class="message_form_button">Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row map_row">
                <div class="col">

                    <!-- Contact Map -->

                    <div class="contact_map magic_fade_in">

                        <!-- Google Map -->

                        <div class="map">
                            <div id="google_map" class="google_map">
                                <div class="map_container">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDMlcW6ZaGuZHqgydM7SfiXn67dOLjsnFU&callback=initMap"></script>
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
